{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - product: The product entity.
 * - media: The media entity.
 * - file: The file entity.
 * - product_url: The product URL.
 * - product_title: The product title.
 * - link_alt: The media entity alt text.
 * - file_type: The file type.
 * - file_size: The file size.
 *
 * @ingroup themeable
 */
#}
<a target="_blank" href="{{ product_url }}" title="{{ product_title }}" class=" usa-button usa-button--secondary margin-x-0 margin-top-2 padding-x-0 width-full">
  <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
    <use xlink:href="/{{ directory }}/assets/img/sprite.svg#file_download"></use>
  </svg>
  &nbsp;Download PDF
      ({{ file_size }})
</a>

